_build/
doc/
rebar.lock
ebin/
.rebar3/
native/**/target/
.claude/
docs/
*.beam
crash.dump
erl_crash.dump
*.crashdump
rebar3.crashdump
*.pdb
priv/*
!priv/sied.dll
!priv/sied.so
!priv/sied.dylib
src/cargo.hrl
NOTES.md
