{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [{sied, "0.2.4"}]}.

{ct_opts, []}.

{edoc_opts, [{preprocess, true}, {dir, "doc"}]}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]}]},
    {bench, [
        {erl_opts, [debug_info]},
        {src_dirs, ["src", "bench"]},
        {shell, [{apps, [kvex]}]}
    ]}
]}.

{hex, [{doc, edoc}]}.
